streamlit
google-generativeai
pyswisseph
geopy
timezonefinder
streamlit-local-storage
imageio
imageio-ffmpeg
mediapipe==0.10.14
numpy
Pillow
requests
scikit-image==0.26.0
fpdf2==2.7.9
opencv-python-headless
scipy==1.17.1
