streamlit
numpy<2
mediapipe==0.10.14
opencv-python-headless==4.10.0.82
google-generativeai
pyswisseph
geopy
timezonefinder
streamlit-local-storage
imageio
imageio-ffmpeg
Pillow
requests
scikit-image==0.25.2
fpdf2==2.7.9
scipy
qdrant-client
langchain-qdrant
langchain
langchain-huggingface
sentence-transformers
